/* #region Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
  margin: 0;
}
input {
  outline: transparent;
  margin: 0;
  padding: 0;
}

/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
.mobile-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .mobile-container {
    max-width: 736px;
    padding: 0 16px;
  }
}
@media only screen and (min-width: 1168px) {
  .mobile-container {
    max-width: 1168px;
  }
}
.mobile-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 32px auto;
  max-width: 283px;
}
@media only screen and (min-width: 768px) {
  .mobile-section-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
    max-width: 412px;
  }
}
.mobile-section-title-accent {
  color: #fd9222;
}
/* #endregion */

/* #region Header */

.page-header {
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 47px;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1168px) {
  .header-nav {
    gap: 365px;
  }
}
.mobile-header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
}
@media only screen and (min-width: 768px) {
  .mobile-header-logo-link {
    padding-top: 29.5px;
    padding-bottom: 29.5px;
  }
}
@media only screen and (min-width: 1168px) {
  .mobile-header-logo-link {
    font-size: 18px;
    line-height: 1.11;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.header-span {
  font-style: italic;
}
.mobile-logo-svg {
  margin-left: 4px;
}
.header-menu-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 1168px) {
  .header-menu-list {
    gap: 24px;
  }
}
.header-menu-items {
}
@media only screen and (min-width: 768px) {
  .header-menu-link {
    padding: 12px 0;
    transition: color 250ms ease-in;
  }
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.active {
  color: #fd9222;
}
.header-menu-link.active {
  border-bottom: 2px solid #fd9222;
  /* position: relative; */
}
/* .header-menu-link.active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  background-color: #fd9222;
  border-radius: 2px;
} */
.socials-list.header-socials-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .socials-list.header-socials-list {
    display: flex;
    border: none;
    padding: 20px 0;
    margin: 0;
  }
}
.socials-items.header-socials-items {
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border 250ms ease-in;
}
.socials-icons-svg.header-socials-icons-svg {
  fill: #111;
  transition: fill 250ms ease-in;
}
.socials-items.header-socials-items:has(.socials-link:hover) {
  border: 1px solid rgba(253, 146, 34, 0.1);
}
.socials-link:hover .socials-icons-svg.header-socials-icons-svg {
  fill: #fd9222;
}
.socials-items.header-socials-items:has(.socials-link:focus) {
  border: 1px solid rgba(253, 146, 34, 0.1);
}
.socials-link:focus .socials-icons-svg.header-socials-icons-svg {
  fill: #fd9222;
}

.mobile-header-btn {
  border: none;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .mobile-header-btn {
    display: none;
  }
}
.mobile-header-btn:active .mobile-menu-svg {
  width: 32px;
  height: 32px;
}

.mobile-menu-svg {
  width: 28px;
  height: 28px;
  stroke: #111;
}

/* #endregion */

/* #region Start page */
.mobile-startpage {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 1167px) {
  .mobile-startpage {
    padding-bottom: 40px;
  }
}
.mobile-startpage-holder {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 395px 22px 20px 20px;
  max-width: 335px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-mob.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .mobile-startpage-holder {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .mobile-startpage-holder {
    padding: 671px 40px 40px 40px;
    max-width: 704px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-tab.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .mobile-startpage-holder {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-tab@2x.jpg);
  }
}
@media only screen and (min-width: 1168px) {
  .mobile-startpage-holder {
    max-width: 1136px;
    padding-top: 381px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-one.jpg);
  }
}
@media only screen and (min-width: 1168px) and (min-resolution: 192dpi),
  screen and (min-width: 1168px) and (min-resolution: 2dppx) {
  .mobile-startpage-holder {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-one@2x.jpg);
  }
}
.mobile-startpage-title,
.startpage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}
.startpage-title {
  display: none;
  font-size: 28px;
  max-width: 484px;
}

@media only screen and (min-width: 768px) {
  .startpage-title {
    display: block;
  }
  .mobile-startpage-title {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .startpage-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.mobile-startpage-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .mobile-startpage-wrapper {
    margin-bottom: 0;
    max-width: 341px;
    margin-right: auto;
  }
}
.mobile-startpage-buy-btn {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 11.5px 27px;
  width: 120px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: 150ms ease-in;
  transition-property: background-color, color;
}
@media only screen and (min-width: 768px) {
  .mobile-startpage-buy-btn {
    padding: 13.5px 39px;
    width: 144px;
  }
}
.mobile-startpage-made-btn {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 11.5px 27px;
  width: 159px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  transition: 150ms ease-in;
  transition-property: background-color, border;
}
@media only screen and (min-width: 768px) {
  .mobile-startpage-made-btn {
    padding: 13.5px 39px;
    width: 183px;
  }
}
.mobile-startpage-buy-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}
.mobile-startpage-made-btn:active {
  border: 1px solid #fd9222;
  color: #fd9222;
}
@media only screen and (min-width: 1168px) {
  .mobile-startpage-buy-btn:hover,
  .mobile-startpage-buy-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
  }
  .mobile-startpage-made-btn:hover,
  .mobile-startpage-made-btn:focus {
    border: 1px solid #fd9222;
    color: #fd9222;
  }
}
.mobile-startpage-scroll-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  width: 107px;
  transition: 250ms ease-in;
  transition-property: color;
}
@media only screen and (min-width: 768px) {
  .mobile-startpage-scroll-link {
    gap: 14px;
    padding-top: 7px;
    width: 130px;
    font-size: 14px;
    line-height: 1.3;
  }
}
.mobile-startpage-scroll-link:active {
  color: #fd9222;
  --color1: #fd9222;
  --color2: #ffffff;
}
@media only screen and (min-width: 1168px) {
  .mobile-startpage-scroll-link:hover,
  .mobile-startpage-scroll-link:focus {
    color: #fd9222;
    --color1: #fd9222;
    --color2: #ffffff;
  }
}
.mobile-startpage-scroll-svg {
}
@media only screen and (min-width: 768px) {
  .mobile-startpage-scroll-svg {
    width: 38px;
    height: 38px;
  }
}
/* #endregion */

/* #region Benefits */
.mobile-benefits {
  padding: 20px 0;
  background-color: #1e1823;
}
@media only screen and (min-width: 768px) {
  .mobile-benefits {
    padding: 50px 0;
  }
}

.mobile-benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .mobile-benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}
@media only screen and (min-width: 1168px) {
  .mobile-benefits-list {
    justify-content: center;
  }
}
.icon-wrapper-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
.mobile-benefits-items {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .mobile-benefits-items {
    max-width: 308px;
  }
}
@media only screen and (min-width: 1168px) {
  .mobile-benefits-items:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -44px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
    display: block;
  }
}
.mobile-benefits-icon-svg {
}
.mobile-benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.mobile-benefits-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.29;
}

/* #endregion */

/* #region Ingridients */
.mobile-ingridients {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mobile-section-title-accent {
}
.mobile-ingridients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.mobile-ingridients-items {
  border-radius: 15px;
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 32px 28px 28px 28px;
  background-color: #fd9222;
  color: #fff;
  position: relative;
}
.mobile-ingridients-items:nth-child(2) {
  background-color: #fff;
  color: #111;
}
.mobile-ingridients-items:nth-child(3) {
  background-color: #1e1823;
  color: #fff;
}
.mobile-ingridients-items:nth-child(4) {
  background-color: #fff;
  color: #111;
}
.mobile-ingridients-icon-svg {
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: #fff;
  fill: transparent;
}
.mobile-ingridients-items:nth-child(2) .mobile-ingridients-icon-svg {
  stroke: #fd9222;
  fill: transparent;
}
.mobile-ingridients-items:nth-child(3) .mobile-ingridients-icon-svg {
  stroke: #fff;
  fill: transparent;
}
.mobile-ingridients-items:nth-child(4) .mobile-ingridients-icon-svg {
  stroke: #fd9222;
  fill: transparent;
}

.mobile-ingridients-img {
}
.mobile-ingridients-subtitle {
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion */

/* #region How it's made */
.mobile-made {
  padding-top: 40px;
  padding-bottom: 40px;
}
.made-wrapper-images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
.mobile-made-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-made-play-svg {
  stroke: #fff;
  fill: transparent;
}
.mobile-made-img {
  border-radius: 15px;
}
.made-wrapper-text {
  border-radius: 15px;
  background-color: #fff;
}
.mobile-made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  padding: 20px 14px;
}
.mobile-made-list {
  padding: 0 14px 20px 14px;
}
.mobile-made-items {
  display: flex;
  gap: 8px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.mobile-made-items::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  margin-top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
.mobile-made-list .mobile-made-items:last-child {
  padding-bottom: 0;
}
/* #endregion */

/* #region Products */
.mobile-products {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mobile-products-list {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px; */
}
.mobile-products-items {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  padding: 32px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  max-width: 335px;
  max-height: 364px;
}
.mobile-products-items:not(:last-child) {
  margin-bottom: 32px;
}
/* .mobile-products-list .mobile-products-items:last-child {
  margin-bottom: 0;
} */
.mobile-products-img {
  display: block;
  margin: 0 auto 8px;
}
.mobile-products-subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.mobile-products-text {
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.mobile-products-btn {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
  width: 94px;
  height: 33px; */
  display: block;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  margin: 0 auto;

  /* white-space: nowrap; */
}
/* #endregion */

/* #region Sellers */
.mobile-bestsellers {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mobile-bestsellers-list {
}
.mobile-bestsellers-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px 15px 0 0;
}
.mobile-bestsellers-list .mobile-bestsellers-items:nth-child(2) {
  display: none;
}
.mobile-bestsellers-list .mobile-bestsellers-items:nth-child(3) {
  display: none;
}
.mobile-bestsellers-items:active .bestsellers-overlay {
  transform: translateY(0);
}
.bestsellers-illustration {
  position: relative;
  overflow: hidden;
}
.mobile-bestsellers-img {
  display: block;
  margin: 0;
  max-width: 335px;
}
.bestsellers-overlay {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fafafa;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-bestsellers-subtitle {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  padding: 24px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  width: 335px;
}
/* #endregion */

/* #region Reviews */
.mobile-reviews {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mobile-reviews-list {
}
.mobile-reviews-items {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  padding: 56px 18px 42px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  margin: 0 auto 32px auto;
  position: relative;
}
.reviews-title {
  margin-bottom: 74px;
}
.reviews-item {
  display: none;
}
.mobile-reviews-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-53%);
  display: block;
  border-radius: 50%;
}
.mobile-reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.mobile-reviews-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.mobile-reviews-btn {
  display: block;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  width: 165px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  background-color: inherit;
}
.mobile-reviews-btn:active {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion */

/* #region Footer */

.mobile-footer {
  padding-top: 40px;
}
.footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1e1823;
  color: #fff;
}
.mobile-footer-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  max-width: 300px;
}
.mobile-footer-adress {
}
.mobile-footer-adress-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 14px;
}
.mobile-footer-adress-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 32px;
}
.mobile-footer-adress-items {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.mobile-footer-adress-tel {
}
.mobile-footer-adress-email {
}
.mobile-footer-socials-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 14px;
}
.socials-list {
  display: flex;
  gap: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.socials-items {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 40px;
}
.socials-icons-svg {
  fill: #fff;
  display: block;
}
.socials-icons-svg:active {
  fill: #fd9222;
}
/* .mobile-footer-wrap {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 335px;
  height: 0px;
  transform: rotate(-180deg);
  margin-bottom: 32px;
} */

.mobile-footer-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}
.mobile-footer-menu-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.mobile-footer-menu-link {
}
.mobile-footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.mobile-footer-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  max-width: 207px;
  height: 45px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  transition: 250ms ease-in;
  transition-property: border-color;
}
.mobile-footer-form-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.mobile-footer-form-input:focus {
  border-color: #fd9222;
}
.mobile-footer-form-btn {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border-radius: 100px;
  padding: 14px 26px;
  max-width: 120px;
  height: 45px;
  color: #fff;
  background-color: #fd9222;
  transition: 150ms ease-in;
  transition-property: background-color, border;
}
.mobile-footer-form-btn:active {
  border: 1px solid #fd9222;
  background-color: inherit;
}
/* #endregion */

/* #region Modal */
.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  width: 311px;
  min-height: 622px;
  background-color: #fafafa;
  padding: 32px 24px;
}
.mobile-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  transition: 150ms ease-in;
  transition-property: border;
}
.mobile-modal-btn:active {
  border: 1px solid #fd9222;
  border-radius: 50%;
}
.mobile-modal-svg {
  stroke-width: 2px;
  stroke: #111;
}
.mobile-modal-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 255px;
  margin-bottom: 32px;
}
.mobile-modal-text-accent {
  color: #fd9222;
}
.mobile-modal-form {
}
.mobile-modal-form-label {
  display: block;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 4px;
}
.mobile-modal-wrap {
  position: relative;
}
.mobile-modal-form-input {
  display: block;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 14px 18px 14px 43px;
  width: 100%;
  height: 45px;
  margin-bottom: 14px;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #404040;
  transition: 300ms ease-in;
  transition-property: border-color;
}
.mobile-modal-form-input:focus {
  border-color: #fd9222;
}
.mobile-modal-form-input:focus + .mobile-modal-form-svg {
  stroke: #fd9222;
}
.mobile-modal-form-svg {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  fill: none;
  stroke: #404040;
  transition: 300ms ease-in;
  transition-property: stroke;
}
.mobile-modal-form-textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 13px 18px;
  resize: none;
  width: 100%;
  margin-bottom: 18px;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #404040;
  outline: transparent;
  transition: 300ms ease-in;
  transition-property: border-color;
}
.mobile-modal-form-textarea:focus {
  border-color: #fd9222;
}
.mobile-modal-form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

input[type='checkbox']:checked
  + .mobile-modal-checkbox-label
  .modale-checkbox-span-first {
  background-color: #fd9222;
  border-color: #fd9222;
}
.mobile-modal-form-checkbox {
}
.mobile-modal-checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 32px;
}
.modale-checkbox-span-first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: #fff;
  flex-shrink: 0;
  transition: 150ms ease-in;
  transition-property: background-color, border-color;
}
.modale-checkbox-span-second {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.mobile-modale-checkbox-svg {
  opacity: 0;
  transition: 150ms ease-in;
  transition-property: opacity;
}
input[type='checkbox']:checked
  + .mobile-modal-checkbox-label
  .modale-checkbox-span-first
  .mobile-modale-checkbox-svg {
  opacity: 1;
}
.mobile-modal-privasy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
.mobile-modal-form-btn {
  border-radius: 100px;
  padding: 12px 28px;
  width: 93px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: 150ms ease-in;
  transition-property: background-color;
}
.mobile-modal-form-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}
/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: 300ms ease-in;
  transition-property: transform;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 88px;
}

.mobile-menu-close-svg {
  stroke-width: 2px;
  stroke: #fff;
  transition: 150ms ease-in;
  transition-property: stroke;
}
.mobile-menu-close-btn:active .mobile-menu-close-svg {
  stroke: #fd9222;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
.mobile-menu-items {
  transition: 150ms ease-in;
  transition-property: color;
}
.mobile-menu-items:active {
  color: #fd9222;
}
.mobile-menu-link {
}
.mobile-menu-socials-list {
  display: flex;
  gap: 14px;
}
.mobile-menu-socials-items {
}
.mobile-menu-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.mobile-menu-socials-svg {
  fill: #ffffff;
}

/* #endregion */
